<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col"> # </th>
            <th scope="col">Produto </th>
            <th scope="col">Nome </th>
            <th scope="col">Descrição do Produto </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"> {{produto.id}} </th>
            <td><img src={{produto.img}} alt="produto"></td>
            <td> {{produto.nome | uppercase}}</td>
            <td> {{produto.descricao | uppercase}}</td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-primary" style="float: right;" (click)="voltarHome()">Voltar</button>
